

/*===== Navbar Section =====*/
#yt-navbar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.nav-left {
    display: flex;
}

.nav-left div {
    margin: 10px;
}

.main-nav {
    margin: 0px auto;
    width: 100%;
}

.main-nav input[type=text] {
    width: 60%;
    padding: 12px 15px;
    margin: 6px 0;
    box-sizing: border-box;
  }

  